
course: "CS8"
legacy_wiki_name: 8wiki
legacy_wiki_url: "https://foo.cs.ucsb.edu/8wiki" 
qtr: "F18"
quarter: "Fall 2018"
ta_list: ""
ta_list_full: ""
instructor: "Mirza"

github_url: https://github.com/ucsb-cs8-f18/ucsb-cs8-f18.github.io
course_site: http://ucsb-cs8.github.io

on_campus: http://proquest.safaribooksonline.com
off_campus: http://proquest.safaribooksonline.com.proxy.library.ucsb.edu:2048



legacy_wiki_url: https://foo.cs.ucsb.edu/8wiki
legacy_wiki_name: "8wiki"


start_week: 1
start_date: 2018-10-01 00:00:00.00-7:00
num_weeks: 10 
extra_exam_week: true 
sections: "9am,&nbsp;10a,&nbsp;11a&nbsp;or&nbsp;noon"

cal_dates: >
  [
  {"label":"First day of instruction", "date":"2018-10-02" },
  {"label":"Last day to Add","date":"2018-10-04" },
  {"label":"Last day to Add with code","date":"2018-10-18" },
  {"label":"Drop w/ Full Refund","date":"2018-10-04" },
  {"label":"Drop Deadline (no W grade)","date":"2018-10-18" },
  {"label":"Univ Holiday: Veterans Day", "date":"2018-11-10" },
  {"label":"Univ Holiday: Happy Thanksgiving", "date":"2018-11-23" },
  {"label":"Univ Holiday: Happy Thanksgiving", "date":"2018-11-24" },
  {"label":"Grade Option Change Deadline", "date":"2018-11-17" },    
  {"label":"Last day of instructions", "date":"2018-12-08" }      
  ]


kramdown:
   parse_block_html: true
   default_lang: python


exclude:
   - vendor
   - _exam/e02/cs56_m16_e02/code
   - _exam/e01/cs56_f16_e01/code


timezone: America/Los_Angeles

collections:
  hwk:
    output: true
    permalink: /hwk/:path/
    last_before: false
  lab:
    output: true
    permalink: /lab/:path/
    last_before: false
  labWIP:
    output: true
    permalink: /labWIP/:path/
    last_before: false
  lectureWIP:
    output: true
    permalink: /lectureWIP/:path/
    last_before: false
  exam:
    output: true
    permalink: /exam/:path/
  info:
    output: true
    permalink: /info/:path/
  teams:
    output: true
    permalink: /teams/:path/
  lectures:
    output: true
    permalink: /lectures/:path/



defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: default
  - 
    scope:
      path: ""
      type: lectures
    values:
      layout: lecture
  - 
    scope:
      path: ""
      type: hwk
    values:
      layout: hwk
  - 
    scope:
      path: ""
      type: labWIP
    values:
      layout: lab
  - 
    scope:
      path: ""
      type: lectureWIP
    values:
      layout: lectcure
  - 
    scope:
      path: ""
      type: lectureWIP
    values:
      layout: lecture
  - 
    scope:
      path: ""
      type: lab
    values:
      layout: lab
  - 
    scope:
      path: ""
      type: exam
    values:
      layout: exam_info
  - 
    scope:
      path: ""
      type: teams
    values:
      layout: teams
  - 
    scope:
      path: ""
      type: info
    values:
      layout: info
  -
    scope:
      path: "syllabus.md"
      type: info
    values:
      layout: handout


  - 
    scope:
      path: ""
      type: lectureWIP
    values:
      layout: lecture
  - 
    scope:
      path: ""
      type: lab
    values:
      layout: lab
  - 
    scope:
      path: ""
      type: exam
    values:
      layout: exam_info
  - 
    scope:
      path: ""
      type: teams
    values:
      layout: teams
  - 
    scope:
      path: ""
      type: info
    values:
      layout: info
  -
    scope:
      path: "syllabus.md"
      type: info
    values:
      layout: handout


